name: Remove

on:
  workflow_dispatch:
  schedule:
    - cron: '0 20 * * 4'

jobs:
  Delete-Workflow:
    runs-on: ubuntu-22.04
    steps:
    - name: 删除工作流
      uses: FunctionXJB/delete-workflow-runs@main
      with:
        retain_days: 2
        keep_minimum_runs: 1
